body {
    background-image: url(istockphoto-1347626215-612x612.jpg);
   
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

h1{
    margin-top: 10px;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;

}

button{
border: none;
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;
width: 200px;
margin-bottom: 5px;
border-radius: 5px;
color: white;
cursor: pointer;
}
button:hover {
    background-color: #3e8e41
}
button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
#increment-btn{
    background: darkred;
}
#save-btn{
    background: darkgreen;
}